<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home Page</title>
</head>

<body style="background-color: aquamarine">
  <a href="/"> <button>Go to the Home Page</button> </a>
  <hr />
  <h1>Color & Number Game</h1>
  <hr />
  <br />
  <h2>
    <li>Odd : RED</li>
    <li>Even : GREEN</li>
  </h2>
  <div>
    <% if(locals.number % 2 === 0 ){ %>
    <!-- end if -->
    <h1 style="background-color: green">
      
      Random Number : <%= locals.number %>
    </h1>
    <% }else{ %>
    <h1 style="background-color: red">
      Random Number : <%= locals.number %>
    </h1>
    <% } %>

  </div>
</body>

</html>