<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table</title>
  </head>

  <body style="background-color: aquamarine">
    <a href="/"> <button>Go to the Home Page</button> </a>
    <hr />
    <h1>Table Generatior</h1>
    <hr />
    <br />
    <h2>
      <form action="">Enter the number</form>
    </h2>
    <div>
      <form action="/table">
        <label for="Enter the Number">Table :</label><br />
        <input type="text" id="table" name="table" /><br />

        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
